html {
    height: 100%;
}

body {
	font-family: 'century gothic', arial, sans-serif;
	text-align: center;
	color: #fff;
	background-image: radial-gradient(circle at top left, #686a72, #000);
	color: rgba(255,255,255,0.7);
}

.overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0; top: 0;
	background: #000000;
	opacity: 0.9;
}

.centeredText {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

#startGameScreen  {
	text-align: left;
	width: 360px;
	height: 550px;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-color: rgba(0, 0, 0, 0.1);
	outline: 1px solid rgba(255, 255, 255, 0.2);
	display: none;
}

#startGameScreen h1 {
	text-align: center;
	font-size: 3.5em;
	margin: 30px 0 30px 0;
}

#startGameScreen h2 {
	font-size: 2.2em;
	margin: 0 0 14px 30px;
}

#start {
	background-image: url("images/start.png");
	background-size: contain;
	width: 137px;
	height: 50px;
	margin: 0 auto;
	margin-top: 35px;
}

#start:hover {
	background-image: url("images/startHover.png");
	margin-top: 42px;
	cursor: pointer;
}

img {
	vertical-align: top;
}

main {
	margin: auto;
	padding: 20px;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-color: rgba(0, 0, 0, 0.1);
	outline: 1px solid rgba(255, 255, 255, 0.2);
	display: none;
}

h2 {
	margin: 0;
	font-size: 1.6em;
}

h3 {
	margin: -6px 0 20px 0;
	font-size: 2.5em;
}

h4 {
	margin: 0 0 10px 0;
	font-size: 1.1em;
}

.field {
    background-image: url("images/bg.png");
	background-size: 30px 30px;
	background-repeat: repeat;
	outline: 1px solid rgba(255, 255, 255, 0.2);
	float: left;
	position: absolute;
}

.figure {
	position: absolute;
}

.brick {
	width: 30px;
    height: 30px;
	position: absolute;
    background-color: #fff;
	background-size: contain;
}

aside {
	float: right;
}

.nextFigure {
	background-image: url("images/bg.png");
	background-size: 30px 30px;
	background-repeat: repeat;
	outline: 1px solid rgba(255, 255, 255, 0.2);
}

.buttons {
	position: absolute;
	bottom: 10px;
}

.button {
	width: 70px;
    height: 70px;
	background-size: contain;
	opacity: 0.7;
	float: left;
	cursor: pointer;
}

.inactive {
	cursor: default;
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
}

.clicked {
	opacity: 1;
}

#arrowL {
	background-image: url("images/arrowL.png");
}

#arrowR {
	background-image: url("images/arrowR.png");
}

#arrowD {
	background-image: url("images/arrowD.png");
}

#rotate {
	background-image: url("images/rotate.png");
}

#pause {
	background-image: url("images/pause.png");
}

#info {
	width: 20px;
    height: 20px;
	background-size: contain;
	background-image: url("images/info.png");
	cursor: pointer;
	position: absolute;
	bottom: 10px; right: 10px;
}

.tooltips span {
	position: absolute;
	width: 130px;
	color: #fff;
	background: #000;
	height: 48px;
	line-height: 22px;
	display: none;
	border-radius: 6px;
}

.tooltips:hover span {
	display: block;
	position: absolute;
	z-index: 100;
	opacity: 0.8;
	bottom: 30px;
	left: -76px;
}

#endGameScreen  {
	text-align: center;
	width: 350px;
	height: 350px;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-color: rgba(0, 0, 0, 0.1);
	outline: 1px solid rgba(255, 255, 255, 0.2);
	display: none;
}

#endGameScreen h1 {
	font-size: 3.4em;
	margin: 30px 0 30px 0;
}

#endGameScreen h2 {
	font-size: 2.2em;
}

#endGameScreen h3 {
	font-size: 3em;
}

footer {
	font-size: 0.8em;
	position: absolute;
	left: 0; right: 0; bottom: 10px;
	z-index: 100;
}

footer a {
	text-decoration: none;
	color: rgba(255,255,255,0.7);
}